<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form onsubmit="return results();" method="POST" action="/">
        <p>Name <input type="text" id="name"></p>
        <p>Email <input type="text" id="email"></p>
        <input type="submit" value="Submit">
    </form>
    <script>
        function results() {
            var name = document.getElementById("name").value;
            var email = document.getElementById("email").value;

            document.write("Your name is " + name +"<br/>" ); 
            document.write("Your email is "+ email);
        };

    </script>
</body>
</html>