<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form methods="POST">
        <p>Name <input type="text" id='name'> </p>
        <p>Comments <input type='text' id='comments'> </p>
        <input type="submit" value="Submit" onclick="showcomment(); return false">
    </form>

    <p> <span id="displayName"></span><br></p>
    <p> <span id="displayComment"></span></p>

    <script>
        function showcomment(){
            var n = document.getElementById("name").value;
            var c = document.getElementById("comments").value;

            displayName.innerHTML = n;
            displayComment.innerHTML= c; 

        };
    </script>

</body>
</html>